 #all{
  background-image: linear-gradient(rgb(38, 181, 224),rgb(11, 58, 121));
  font-family: 'Comic Neue', cursive;
font-size: 20px;
  
}
.txt {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 46px;
  color: white;
}

h1 {
    font-size: 550%;
    font-family: 'Comic Neue', cursive;
    text-align: center;
  }
img {
    height: 850px;
}
#quotes {
  border: 1px solid black;
  height: 500px;
  width: 550px;
  margin: auto;
  padding: 10px;
  
}