<div class="container-fluid">
    <form>

        <div class="form-group">
            <label for="quote">Quote:</label><br>
            <textarea id="actualquote" class="form-control" rows="3" ></textarea>
        </div>

        <div class="form-group">
            <label for="author">Author:</label><br>
            <input type="text" class="form-control" id="author">
        </div>

        <div class="form-group">
            <label for="submitter">Username For the Person who submitted:</label><br>
            <input type="text" class="form-control" id="submitter">
        </div>

    </form>
</div>
